*.pyc
*__pycache__*

# Ignore weight files everywhere
*.pt
*.pth
*.pkl
*.pth.tar

# Ignore data
data/benign/*
data/malignant/*
data/split_info.txt

# Ignore checkpoints
checkpoints/

# Allow results
results/

# In models directory, ignore everything except Python scripts and subdirectories
models/**/*
!models/**/*.py
!models/**/
